*{padding:0; margin:0; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none; color:#000;}
.App {
    text-align: center;
}
/* 부트스트랩 커스텀  */
.me-auto {
    margin-right: 0 !important;
    display:flex;
    gap:2em;
}
.nav-link{
    color: #000 !important;
}
/* main-banner */
.main-banner {
    width: 100%;
    height: 400px;
}
.more_view{
    padding:10px;
    outline: none;
    border:none;
    background: tomato;
    color:#fff;
    border-radius: 10px;
    margin:100px 0;
}
/* loading  */
.loading{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.25em;
}
.loading span{
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    transition: 0.5s linear both;
    animation: loading 0.7s linear infinite;
}
.loading span:nth-child(1){
    animation-delay: 0s;
}
.loading span:nth-child(2){
    animation-delay: 0.25s;
}
.loading span:nth-child(3){
    animation-delay: 0.5s;
}
/* Detail  */
.detail-c{
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
}
.detail-c.active{
    opacity: 1;
    visibility: visible;
}
/* Detail-page tab메뉴 */
.nav-tabs{
    border-color:#aaa !important;
}
.nav-link{
    border-width: 2px !important;
}
.nav-link.active{
    border-color:#aaa #aaa #fff #aaa !important;
}
.content-inner{
    opacity: 0;
    visibility: hidden;
}
.content-inner.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
/* 봤던 상품 image */
.view_item{
    position: fixed;
    bottom: 30px;
    right: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.view_item span{
    font-size: 14px;
    margin-bottom:10px;
}
.img-inner{
    width: 65px;
    height: 65px;
}
.view_item img{
    width: 100%;
    height: 100%;
}
/* ViewItem 컴포넌트 */
.view_container{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.view-wrap{
    width:100%;
    max-width:800px;
    background: red;
}
@keyframes loading{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
